.idea
.vscode
.DS_Store
.htaccess
application/cache
application/config/development/*
application/config/development_denis/*
application/logs
docs
node_modules
phinx
public
tests/_output/*
tests/_support/_generated
upload
vendor

assets.json
composer.lock
composer.phar
package-lock.json
phinx.yml
phpunit.phar
phpunit.xml
Thumbs.db

codeception.yml
application/tests/*.suite.yml
application/tests/_output/
application/tests/_support/_generated/
