[client]
# default-character-set = utf-8

[mysql]
# default-character-set = utf-8

[mysqld]
wait_timeout = 300
max_allowed_packet = 1G
sql_mode = NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES
# max_statement_time = 300

# innodb_use_native_aio = 0
innodb_buffer_pool_size = 2G
innodb_buffer_pool_instances = 2
# innodb_flush_method = O_DSYNC
# innodb_log_file_size = 256M
innodb_flush_log_at_trx_commit = 0
# innodb_stats_on_metadata = 0

log_queries_not_using_indexes   = 1
long_query_time                 = 1
slow_query_log=on
slow_query_log_file=/var/lib/mysql/logs/slowlog

# character-set-server = utf-8
